<footer class="bg-background border-t">
    <div class="container mx-auto py-8 md:py-12">
        <p class="text-center">
            &copy; {new Date().getFullYear()}{" "}
            <a
                target="_blank"
                href="https://developershihab.com"
                class="hover:underline hover:underline-offset-2"
            >
                Shihab Mahamud
            </a>
            . All rights reserved.
        </p>
    </div>
</footer>
