---
import "@/styles/global.css";

import { BackButton } from "./back-button";
import { ThemeToggle } from "./theme-toggle";

interface Props {
    title: string;
    description: string;
    keywords: string[];
}

const { title, description, keywords } = Astro.props as Props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />

        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Shihab Mahamud" />

        <title>{title} - Swiss</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords.join(", ")} />

        <script is:inline>
            const theme = () => {
                if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
                    return localStorage.getItem("theme");
                }
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    return "dark";
                }
                return "light";
            };
            document.documentElement.classList.add(theme());
        </script>
    </head>
    <body
        class="bg-background selection:bg-primary selection:text-primary-foreground min-h-screen scroll-smooth font-sans antialiased"
    >
        <div class="relative flex min-h-screen flex-col">
            {Astro.originPathname !== "/" && <BackButton client:load />}
            <ThemeToggle client:load />
            <main class="flex-1">
                <div class="flex flex-col items-center">
                    <slot />
                </div>
            </main>
            <footer class="bg-background border-t">
                <div class="container mx-auto py-8 md:py-12">
                    <p class="text-center">
                        &copy; {new Date().getFullYear()}{" "}
                        <a
                            target="_blank"
                            href="https://developershihab.com"
                            class="hover:underline hover:underline-offset-2"
                        >
                            Shihab Mahamud
                        </a>
                        . All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
