---
import "@/styles/global.css";

import { MainHeader } from "./main-header";
import { MainFooter } from "./main-footer";

interface Props {
    title: string;
    description: string;
    keywords: string[];
}

const { title, description, keywords } = Astro.props as Props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Shihab Mahamud" />
        <title>{title} - Swiss</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords.join(", ")} />
    </head>
    <body class="bg-background min-h-screen font-sans antialiased">
        <div class="relative flex min-h-screen flex-col">
            <MainHeader pathname={Astro.originPathname} />
            <main class="flex-1">
                <slot />
            </main>
            <MainFooter />
        </div>
    </body>
</html>
